<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarryGO.Properties.Settings.CarryGODBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\onursercanyilmaz\Documents\GitHub\CarryGO\CarryGO\CarryGO\CarryGODB.mdf;Trusted_Connection=True"
            providerName="System.Data.SqlClient" />
        <add name="CarryGO.Properties.Settings.CarryGODBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CarryGODB.mdf;Trusted_Connection=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="connectString"  value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\onursercanyilmaz\Documents\GitHub\CarryGO\CarryGO\CarryGO\CarryGODB.mdf;Trusted_Connection=True" />

    <add key="isDBReady" value="0"/>
    
    <add key="server" value=""/>
    <add key="database" value=""/>
    <add key="dbuserid" value=""/>
    <add key="dbpassword" value=""/>
    <add key="dbpath" value=""/>
    <add key="dbscript" value="dbSettings.sql"/>
  </appSettings>
</configuration>